<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>web.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarClienteServlet</servlet-name>
        <servlet-class>web.InsertarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarClienteServlet</servlet-name>
        <servlet-class>web.actualizarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarClienteServlet</servlet-name>
        <servlet-class>web.eliminarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarPedidoServlet</servlet-name>
        <servlet-class>web.eliminarPedidoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertarPedidoServlet</servlet-name>
        <servlet-class>web.insertarPedidoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultarPedidoServlet</servlet-name>
        <servlet-class>web.consultarPedidoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidoServlet</servlet-name>
        <servlet-class>web.PedidoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertarVendedorServlet</servlet-name>
        <servlet-class>web.insertarVendedorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultarVendedorServlet</servlet-name>
        <servlet-class>web.consultarVendedorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarVendedorServlet</servlet-name>
        <servlet-class>web.eliminarVendedorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarVendedorServlet</servlet-name>
        <servlet-class>web.actualizarVendedorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendedorServlet</servlet-name>
        <servlet-class>web.VendedorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoServlet</servlet-name>
        <servlet-class>web.ProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultarProductoServlet</servlet-name>
        <servlet-class>web.consultarProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertarProductoServlet</servlet-name>
        <servlet-class>web.insertarProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarProductoServlet</servlet-name>
        <servlet-class>web.actualizarProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarProductoServlet</servlet-name>
        <servlet-class>web.eliminarProductoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/ClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarClienteServlet</servlet-name>
        <url-pattern>/InsertarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarClienteServlet</servlet-name>
        <url-pattern>/actualizarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarClienteServlet</servlet-name>
        <url-pattern>/eliminarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarPedidoServlet</servlet-name>
        <url-pattern>/eliminarPedidoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertarPedidoServlet</servlet-name>
        <url-pattern>/insertarPedidoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultarPedidoServlet</servlet-name>
        <url-pattern>/consultarPedidoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidoServlet</servlet-name>
        <url-pattern>/PedidoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertarVendedorServlet</servlet-name>
        <url-pattern>/insertarVendedorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultarVendedorServlet</servlet-name>
        <url-pattern>/consultarVendedorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarVendedorServlet</servlet-name>
        <url-pattern>/eliminarVendedorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarVendedorServlet</servlet-name>
        <url-pattern>/actualizarVendedorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendedorServlet</servlet-name>
        <url-pattern>/VendedorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoServlet</servlet-name>
        <url-pattern>/ProductoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultarProductoServlet</servlet-name>
        <url-pattern>/consultarProductoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertarProductoServlet</servlet-name>
        <url-pattern>/insertarProductoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarProductoServlet</servlet-name>
        <url-pattern>/actualizarProductoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarProductoServlet</servlet-name>
        <url-pattern>/eliminarProductoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
